@font-face {
  font-family: 'KitschyRetro';
  src:url('../../public/KitschyRetroRegular-9YnqB.ttf') format('truetype');
}

@font-face {
  font-family: 'PlantOnLawn';
  src: url(../../public/PlantOnLawn.ttf) format('truetype');
}

@font-face {
    font-family: 'JFWildWood';
    src: url('../../public/JFWilwod.ttf') format('truetype');
    
  }
  @font-face {
    font-family: 'ClimbingPlant';
    src: url('../../public/pete.ttf') format('truetype');
}
  .howticulture-title {
    font-family: 'JFWildWood', sans-serif;
    font-size: 100px;
  }
  .howticulture-nav-title{
    font-family: 'ClimbingPlant', sans-serif;

  }
  .nav-link {
    font-weight: 900;
  }

  .link:hover {
    color: #000000; /* Change to the color you want on hover */
  }